.university-select{
      width: 80%;
      margin: 0 10% 0 10%;   
}

.botones-navegacion{
      margin: 10%;
}

.boton-navegacion{
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.flexbox-row{
      margin-top: 10rem;
      display: flex;
      justify-content: space-between;
}

.titulo-busqueda{
      text-align: center;
      margin-top: 8rem;
}

.icono-izq{
      margin: 0 0.8rem 0.3rem 0;
}

.icono-der{
      margin: 0 0 0.3rem 0.8rem;
}