.map{
      width: 85%;
      margin: 4rem 7.5% 4rem 7.5%;
}

.boton-navegacion{
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      margin: 0.5rem 0 0 1rem;
}

.icono{
      margin: 0 0.8rem 0.3rem 0;
}