$azul_oscuro: #232d64;
$blanco: #FFFF;

.app-logo{
      margin: 10% 20% 20% 20%;
      width: 60%;
}

header{
      background-color: $azul_oscuro;
      padding: 1.5rem 8% 1.5rem 8%;
}

header>h1{
      color: $blanco;
      font-weight: 500;
      margin: 0;
      width: 50%;
      display: inline-block;
}

header>h2{
      color: $blanco;
      font-weight: 400;
      margin: 0;
      width: 50%;
      text-align: end;
      display: inline-block;
}